{% if matchbox_config_address is defined %}
MATCHBOX_ADDRESS={{ matchbox_config_address }}
{% endif %}

{% if matchbox_config_log_level is defined %}
MATCHBOX_LOG_LEVEL={{ matchbox_config_log_level }}
{% endif %}

{% if matchbox_config_data_path is defined %}
MATCHBOX_DATA_PATH={{ matchbox_config_data_path }}
{% endif %}

{% if matchbox_config_assets_path is defined %}
MATCHBOX_ASSETS_PATH={{ matchbox_config_assets_path }}
{% endif %}

{% if matchbox_config_rpc_address is defined %}
MATCHBOX_RPC_ADDRESS={{ matchbox_config_rpc_address }}
{% endif %}

{% if matchbox_config_cert_file is defined %}
MATCHBOX_CERT_FILE={{ matchbox_config_cert_file }}
{% elif matchbox_config_pki_dir is defined %}
MATCHBOX_CERT_FILE={{ matchbox_config_etc }}/server.crt
{% endif %}

{% if matchbox_config_key_file is defined %}
MATCHBOX_KEY_FILE={{ matchbox_config_key_file }}
{% elif matchbox_config_pki_dir is defined %}
MATCHBOX_KEY_FILE={{ matchbox_config_etc }}/server.key
{% endif %}

{% if matchbox_config_ca_file is defined %}
MATCHBOX_CA_FILE={{ matchbox_config_ca_file }}
{% elif matchbox_config_pki_dir is defined %}
MATCHBOX_CA_FILE={{ matchbox_config_etc }}/ca.crt
{% endif %}

{% if matchbox_config_key_ring_path is defined %}
MATCHBOX_KEY_RING_FILE={{ matchbox_config_key_ring_path }}
{% endif %}

{% if matchbox_config_passphrase is defined %}
MATCHBOX_PASSPHRASE={{ matchbox_config_passphrase }}
{% endif %}
