[Unit]
Description=matchbox boot service
Documentation=https://github.com/coreos/matchbox
Requires=network-online.target
After=network-online.target

[Service]
User={{ matchbox_config_user }}
Group={{ matchbox_config_group }}
EnvironmentFile={{ matchbox_config_env_file }}
ExecStart={{ matchbox_config_exec }}

ProtectHome=yes
ProtectSystem=full

Restart=always
RestartSec=5
TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
